<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>欢迎进行邮箱验证</h1>
    <p>
      点击下面的链接: <%= @url %>
    </p>
  </body>
</html>