<div class="col-md-2">
	<div class="panel panel-default">
		<div class="panel-body">
			<ul>
				<li>
					<%= link_to '个人信息', users_setprofile_path %>
				</li>
				<li>
					<%= link_to '上传头像' %>
				</li>
				<li>
					<%= link_to '验证邮箱' %>
				</li>
				<li>
					<%= link_to '修改密码' %>
				</li>
			</ul>
		</div>
	</div>				
</div>