<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="panel panel-default">
          <ul class="list-group">
            <% @categories.each do |catagory| %>
                <li class="list-group-item">
                  <%= link_to catagory.name, '#' %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="col-md-10">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="/kdj.jpg" alt="">
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="/kdj.jpg" alt="">
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="/kdj.jpg" alt="">
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="/kdj.jpg" alt="">
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="/kdj.jpg" alt="">
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="/kdj.jpg" alt="">
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="/kdj.jpg" alt="">
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="/kdj.jpg" alt="">
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="/kdj.jpg" alt="">
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="/kdj.jpg" alt="">
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="/kdj.jpg" alt="">
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="/kdj.jpg" alt="">
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="/kdj.jpg" alt="">
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="/kdj.jpg" alt="">
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="/kdj.jpg" alt="">
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="/kdj.jpg" alt="">
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="/kdj.jpg" alt="">
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="thumbnail">
                <img src="/kdj.jpg" alt="">
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
