<% content_for :title do %>专业修改<% end %> 
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <%= link_to '所有专业', majors_path, class: 'list-group-item' %>
          <%= link_to '新增专业', new_major_path, class: 'list-group-item' %>
        </div>
      </div>
      <%= render 'form' %> 
    </div>
  </div>
</div>