// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.person_image{
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.gly-color{
	color: red;
}

.user_col-md-3{
	margin-right: -20px;
}