// Place all the styles related to the user_products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.td_width_15_percent{
	width: 15%;
}

.td_width_10_percent{
	width: 10%;
}

.table_paginate{
	text-align: right;
}

.table_text{
	text-align:center;
}