// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_title{
  
}

.product_price{
  margin-top: 5px;
}

.paginate_products{
  text-align: left;
  margin-left: 30px;
}

.product_image_index{
	height: 180px;
	width: 150px;
}

.show_product_image{
	width: 210px;
	height: 260px;
	margin-top: 20px;
}

.product-comment{
	margin-top: 60px;
}

.search-button{
	margin-top: -5px;
    margin-right: 30px;
}

.table-td{
	width: 20%;
}